
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header{
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.multiPro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
.singlePro {
  width: 25%;
  text-align: center;
  border: 1px solid red;
  height: 200px;
}
img {
  height: 100px;
  width: 100px;
}